*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* header */

header{
    background-color: #2C3E50;
}

.content-h>p{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}
h2{
    font-weight: bold;
}
/* main */

/* first section */

.bg{
    background-color: #1ABC9C;
}
.content-m-bg>img{
    width: 25%;
    padding-bottom: 10px;
}
.content-m-bg>h2{
    font-weight: bold;
}

.content-m-bg>p{
    font-family: sans-serif;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    max-width: 400px;
    position: relative;
}
.content-m-bg>p:before{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: white;
    left: 0;
    top: 50%;
    position: absolute;
}
.content-m-bg>p:after{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background:white;
    right: 0;
    top: 50%;
    position: absolute;
}

/* second section */

.content-m-t{
    border-radius: 30px;
}
.bg-p{
    background-color:#BA4B63 ;
}
.bg-a{
    background-color:#1EA4B6 ;
}
.bg-bl{
    background-color:#140F0F ;
}
.bg-lb{
    background-color:#1C83C1 ;
}
.bg-b{
    background-color: #0E38B5;
}
.bg-c{
    background-color: #CCB2A3;
}
.content-m-t>h2{
    font-weight: bold;
}
.content-m-t>img{
    width: 100%;
    border-radius: 30px;
}
.content-m-t>p{
    font-family: sans-serif;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    max-width: 400px;
    position: relative;
}
.content-m-t>p:before{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
}
.content-m-t>p:after{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background:black;
    right: 0;
    top: 50%;
    position: absolute;
}
/* third section*/

.content-m>button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

/* fourt section */

.content-m-b{
    height: 200px;
    border: 1px solid black;
}

/* footer*/

.bg-f-t{
    background-color:#3A546D ;
}
.content-f-t{
    height: 150px;
    border: 1px solid black;
}
.bg-f-b{
    background-color: #2C3E50;
}
.content-f-b{
    height: 75px;
    border: 1px solid black;
}